{% extends "base.html" %}

{% block content %}

<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="static/assets/img/about.jpg" alt="..." />
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Revolution & Innovation</span>
                            <span class="section-heading-lower">About Blásta</span>
                        </h2>
                        <p>Founded in 2021 by Oisin Kinsella & Mick Caomhánach, with a love for food and a pride for Irish culture & cuisine in particular. At the tail end of the pandemic and a rising surge in all things Irish, local Dubling born chefs Oisin & Mick decided to break the stigma of Irish food. For so long, Irish food has been at the wrong end of criticism for its lack of flavour and aesthetics. Blásta aims to change this view and show how ambrosian traditional plates from Ireland can be.</p>
                        <p class="mb-0">
                            We guarantee that you will fall in
                            <em>lust</em>
                            with our decadent blends the moment you walk inside whether you are new to Irish food or not. Join us on this adventure, and come try some of our most loved recipes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{%endblock%}