{% extends "base.html" %}

{% block content %}

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="static/assets/img/intro.jpg" alt="..." />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Traditional recipes</span>
                    <span class="section-heading-lower">With a modern twist</span>
                </h2>
                <p class="mb-3">Every plate on the menu is a take on traditional, hearty, Irish dishes with a touch of modernization. With locally sourced produce and home grown spices, each plate is bursting with flavour. Tar isteach! - dine with Blásta.</p>
                <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="#!">Visit Us Today!</a></div>
            </div>
        </div>
    </div>
</section>
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Our Promise</span>
                        <span class="section-heading-lower">To You</span>
                    </h2>
                    <p class="mb-0">When you walk into our restaurant, we are motivated to provide you with a unique dining experience that entwines a bit of history told from each plate so you may be transported away while enjoying some of Ireland's succulent dishes.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{%endblock%}