{% extends "base.html" %}

{% block content %}

<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ms-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Slow-cooked to perfection</span>
                        <span class="section-heading-lower">Lamb Stew</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="static/assets/img/products-01.jpg" alt="..." />
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded"><p class="mb-0">This absolute succulence of a dish is slow-cooked for 3 hours and delivered in a rustic cast iron pot. Seasoned with local herbs and spices it is ideally accompanied by a pint of stout of your choice. <br> The origin of the Irish stew is believed to have been roughly the 17th century. Back then, the dish was often made by shepherds and rural farmers who had access to only a few ingredients but needed a nourishing meal to sustain them through long days of work.</p></div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex me-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Deliciously creamy</span>
                        <span class="section-heading-lower">Seafood Chowder</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="static/assets/img/products-02.jpg" alt="..." />
            <div class="product-item-description d-flex ms-auto">
                <div class="bg-faded p-5 rounded"><p class="mb-0">Started off with our best cream and wine for the chowder. Our selection of fish and seafood are freshly caught day to day. We source our ingredients from local fisherman while keeping a ratio of smoked fish and diced bacon to create the special flavour and a range of shellfish and prawns to add to the juicy experience. </p></div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ms-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Ireland's own pancake</span>
                        <span class="section-heading-lower">Boxty</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="static/assets/img/products-03.jpg" alt="..." />
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded"><p class="mb-0">Boxty is an authentic Irish dish which originated in the 1700s. It's made from potatoesand is great for breakfast, brunch or whenever you feel. It was a staple food in Irish households where potatoes were relied upon to survive. Blight during the famine destroyed the potato crop and affected the consumption of Boxty.</p></div>
            </div>
        </div>
    </div>
</section>

{%endblock%}